div {
  margin: auto;
  text-align: center;
}

p#border {
  border-style: solid;
  color: blue;
  font-family: Helvetica;
}

p {
  border-style: solid;
  color: blue;
  font-family: Helvetica;
  text-align: center;
} 